.error-page-container {
  text-align: center;
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.error-page-title {
  font-size: 5rem;
  color: #2662c3;
}

.error-page-message {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #e0e0e0;
  max-width: 600px;
  line-height: 1.5;
}

.btn-home {
  padding: 12px 25px;
  font-size: 1.2rem;
  background-color: #2662c3;
  color: #121212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-home:hover {
  background-color: #6387bf;
  color: #121212;
}


@media (max-width: 768px) {
  .btn-home {
    width: 50%;
  }


}